#events-list {
  flex:auto 2;
  order: 2;
  margin: auto;
  padding: 10px;
  .no-results{
    margin-top: 50%;
  }
  .ant-card-head-title {
    color: $main-white;
  }
  .rsvp-button {
    padding-left: 20px;
    padding-right: 20px;
    background-color:  $main-white;
    @include montserrat-bold-all-caps;
  }
  .other {
    @include cell($other);
  }
  .general {
    @include cell($general);
  }
  .town-hall {
    @include cell($town-hall);
  }
  .dream-act {
    @include cell($dream-act);
  }
  .infrastructure {
    @include cell($infrastructure);
  }
  .trump-tax-scam {
    @include cell($trump-tax-scam);
  }
  .electoral {
    @include cell($electoral);
  }
  .gun-violence {
    @include cell($gun-violence);
  }
  .foreign-policy {
    @include cell($foreign-policy);
  }
  .dark-green {
    @include cell($dark-green);
  }
}
