.event-cell {
  ul {
    list-style-type: none;
  }
  .ant-card-body{
    @include montserrat-regular;
  }
  .list-inline {
    li {
      display: inline;
    }

    li:not(:first-child):before {
      margin-right: 5px;
      margin-left: 5px;
      content: '\2022';
    }
  }
  .read-more {
    transition: max-height 500ms ease-in-out;
    cursor: pointer;
    color: $brand-blue;
    &.closed{
      max-height: 4em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &.open{
      max-height: 2000em;

    }
  }
}
