.ant-card-head{
  background-color: $brand-primary;
}

#events-list {
  .no-results{
    margin-top: 50%;
  }
  .ant-card-head-title {
    color: $main-white;
  }

  .rsvp-button {
    padding-left: 20px;
    padding-right: 20px;
    background-color:  $main-white;
    @include montserrat-bold-all-caps;
  }
  .ant-card-head {
    background-color: $brand-primary;
  }

  .grassroots {
    @include cell($main-dark-blue);
  }

  .town-hall {
    @include cell($main-light-blue);
  }

}
