.ant-card-head{
  background-color: $brand-primary;
}

#events-list {
  .no-results{
    margin-top: 50%;
  }
  .ant-card-head-title {
    color: $main-white;
  }

  .rsvp-button {
    padding-left: 20px;
    padding-right: 20px;
    background-color:  $main-white;
    @include montserrat-bold-all-caps;
  }
  .ant-card-head {
    background-color: $brand-primary;
  }

  .other {
    @include cell($other);
  }
  .general {
    @include cell($general);
  }
  .general-icon {
     @include cell($general);
  }
  .town-hall, .town-hall-icon {
    @include cell($town-hall);
  }
  .dream-act, .dream-act-icon {
    @include cell($dream-act);
  }
  .mueller-rosenstein,
  .mueller-rosenstein-icon, {
    @include cell($infrastructure);
  }
  .trump-tax-scam,
  .trump-tax-scam-icon {
    @include cell($trump-tax-scam);
  }
  .electoral, .electoral-icon {
    @include cell($electoral);
  }
  .gun-violence, .gun-violence-icon {
    @include cell($gun-violence);
  }
  .foreign-policy, .foreign-policy-icon {
    @include cell($foreign-policy);
  }
  .dark-green, .dark-green-icon {
    @include cell($dark-green);
  }
  .dark-purple, .dark-purple-icon {
    @include cell($dark-purple);
  }
  .dark-orange, .dark-orange-icon {
    @include cell($dark-orange);
  }
  .circle-stroked-15-grey {
    @include cell($brand-primary);
  }
}
