.content-container-filters {
  width: 26vw;
  position: absolute;
  background-color: white;
  @include box-3d;
  padding: 1vw;
  z-index: 99;
}

.input-group-filters {
  width: 100%;
  display: flex;
}

.input-group__item {
  width: 25vw;
}

.text-input {
  width: 17vw;
  height: 25px;
}

select {
  width: 10vw;
  height: 31px;
}
ul {
  .ant-select-dropdown-menu-item-selected {
  &.circle-15-blue {
    color: $filter-color-blue;
  }

  &.circle-15-red {
    color: $filter-color-red;
  }

  &.circle-15-green{
    color: $filter-color-green;
  }

  &.circle-15-purple {
    color: $filter-color-purple;
  }

  &.circle-15-orange{
    color: $filter-color-orange;
  }

  &.circle-15-dark-blue{
    color: $filter-color-dark-blue;
  }

  &.circle-15-fuchsia{
    color: $filter-color-fuchsia;
  }

  &.circle-15-gray{
    color: $filter-color-gray;
  }
}}

.distance-slider {
  margin-top: 1em;
  .ant-slider {
    margin: 7px;
  }
  .ant-input-number {
    margin-left: 0.5em;
    input {
      padding: 0 0.5em;
      width: 100%;
    }
  }
  p {
    margin: 0 10px;
  }
}