.content-container-filters {
  width: 25vw;
  position: absolute;
}

.input-group-filters {
  width: 100%;
  display: flex;
}

.input-group__item {
  width: 25vw;
}

.text-input {
  width: 17vw;
  height: 25px;
}

select {
  width: 10vw;
  height: 31px;
}