#groups-list {
  flex:auto 5;
  order: 2;
  margin: auto;
  padding: 10px;
}

#groups-list .ant-list-item-meta-title {
  font-weight: 700;
  background: $group-header;
  height: 30px;
  margin-top: 0;
  top: 0;
  color: white;
  padding-left: 10px;
}

#groups-list .event-cell {
  @include cell;
}