#groups-list {

}

#groups-list .ant-list-item-meta-title {
  font-weight: 700;
  background: $group-header;
  margin-top: 0;
  top: 0;
  color: white;
  padding: 10px;

  ul{
    padding-left: 10px;
  }
}

.facebook-icon {
  background: url('../../assets/images/facebook-icon.svg');
  height: 30px;
  background-repeat: no-repeat;
}

.twitter-icon {
  background: url('../../assets/images/twitter-icon.svg');
  height: 30px;
  background-repeat: no-repeat;
}
