#groups-list {

}

#groups-list .ant-list-item-meta-title {
  font-weight: 700;
  background: $group-header;
  margin-top: 0;
  top: 0;
  color: white;
  padding: 10px;

  ul{
    padding-left: 10px;
  }
}
