/**
* Create a position for the map
* on the page */
#map {
  position: absolute;
  top: 20vh;
  bottom: 0;
  height: 500px;
  width: 72.5vw;
  right: 0;
}

/**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#features {
  top: 0;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}

.usa-icon {
  width: 20px;
  height: 20px;
  margin: 5px;
  background-image: url('./src/assets/images/usa.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

// #legend {
//   padding: 10px;
//   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
//   line-height: 18px;
//   height: 150px;
//   margin-bottom: 40px;
//   width: 100px;
// }

// .legend-key {
//   display: inline-block;
//   border-radius: 20%;
//   width: 10px;
//   height: 10px;
//   margin-right: 5px;
// }
