.side-bar-container{
  flex-direction:column;
  display: flex;
  align-items:stretch;
  height: 500px;
  width: 27.5vw;
}
.search-type-container {
  display: flex;
  justify-content: space-between;
  background: #f7f6f6;
  margin-top: 5px;
  .ant-switch {
    margin: 5px;
  }
  .search-by-title{
    margin: 5px;
  }
}

.search-type-switch.ant-switch {
  background-color: $brand-primary;
}
.search-type-switch.ant-switch-checked {
  background-color: $brand-red;
}
