.search-bar {
  flex: 1 100%;
  @include box-3d;
  z-index: 99;
  padding: 0.5vw;
  display: flex;
  flex-flow: row wrap;
}

.input-group-filters {
  width: 100%;
  display: flex;
}

.input-group__item {
  width: 25vw;
}

.text-input {
  width: 17vw;
  height: 25px;
}

select {
  width: 10vw;
  height: 31px;
}
.ant-tag-checkable-checked {
  &.circle-15-blue {
    background-color: $filter-color-blue;
  }

  &.circle-15-red {
    background-color: $filter-color-red;
  }

  &.circle-15-green{
    background-color: $filter-color-green;
  }

  &.circle-15-purple {
    background-color: $filter-color-purple;
  }

  &.circle-15-orange{
    background-color: $filter-color-orange;
  }

  &.circle-15-dark-blue{
    background-color: $filter-color-dark-blue;
  }

  &.circle-15-fuchsia{
    background-color: $filter-color-fuchsia;
  }

  &.circle-15-gray{
    background-color: $filter-color-gray;
  }
}

.distance-slider {
  margin-top: 1em;
  .ant-slider {
    margin: 7px;
  }
  .ant-input-number {
    margin-left: 0.5em;
    input {
      padding: 0 0.5em;
      width: 100%;
    }
  }
  p {
    margin: 0 10px;
  }
}
