.search-bar {
  flex: 1 100%;
  @include box-3d;
  z-index: 99;
  padding: 2.5vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  // search input
  .ant-input-search.ant-input-affix-wrapper {
    flex: 1;
    margin: auto;
    max-width: 50%;
    .ant-input {
      border-radius: 0;
      box-shadow:  0px 0px 5px 2px #d6d4d4;
      border-color: $main-dark-blue;
      border: 3px solid $main-dark-blue;
      border-top-right-radius: 10px;
      -webkit-border-top-right-radius: 10px;
      -moz-border-radius-topright: 10px;
    }
    .ant-input:hover {
      border-color: $brand-red;
    }
  }


  // search type switcher
  .search-type-container {
    display: flex;
    padding: 5px;
    margin: auto;
    color: lightgray;
    .search-by-title{
      margin-left: 0.5vw;
      margin-right: 0.5vw;
    }
    .ant-radio-wrapper {
      color: $main-light-blue;
      border-radius: 25px;
      padding-left: 3px;
    }
    .ant-radio-wrapper.ant-radio-wrapper-checked {
      border-radius: 25px;
      padding-left: 3px;
    }
    .ant-radio-inner:after{
      background-color: $main-light-blue;
    }
    .ant-radio-checked .ant-radio-inner{
      border-color: $main-light-blue;
    }
  }

  // filters
  .input-group-filters {
    flex: 1 50%;
    display: flex;
    margin: auto;
    padding: 1vw;
  }

  // distance slider
  .distance-slider {
    flex: 1 50%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    .ant-slider {
      margin: 7px;
    }
    .ant-input-number {
      margin-left: 0.5em;
      input {
        padding: 0 0.5em;
        width: 100%;
      }
    }
    .ant-slider-track{
      background: $main-light-blue;
    }
    .ant-slider-handle{
      border: solid 2px $main-light-blue;
    }
  }
  .event-count {
    flex: 1 100%;
  }
}

@media all and (max-width:778px) {
  .search-bar {
    .ant-input-search.ant-input-affix-wrapper {
      flex: 1 100%;
    }
    .input-group-filters{
      flex: 1 100%;
    }
  }
}

.search-type-switch.ant-switch {
  background-color: $brand-primary;
}
.search-type-switch.ant-switch-checked {
  background-color: $brand-red;
}


.input-group__item {
  width: 25vw;
}

.text-input {
  width: 17vw;
  height: 25px;
}

.ant-tooltip-content {
  display: none;
}

select {
  width: 10vw;
  height: 31px;
}
.ant-tag-checkable-checked {
  &.town-hall-icon {
    background-color: $town-hall;
  }

  &.general-icon {
    background-color: $general;
  }

  &.other-icon {
    background-color: $other;
  }

  &.gun-violence-icon {
    background-color: $gun-violence;
  }

  &.foreign-policy-icon {
    background-color: $foreign-policy;
  }

  &.infrastructure-icon {
    background-color: $infrastructure;
  }

  &.trump-tax-scam-icon {
    background-color: $trump-tax-scam;
  }

  &.dream-act-icon {
    background-color: $dream-act;
  }

  &.electoral-icon {
    background-color: $electoral;
  }

  &.dark-green {
    background-color: $dark-green;
  }

  &.dark-purple {
    background-color: $dark-purple;
  }

  &.dark-orange {
    background-color: $dark-orange;
  }

  &.circle-stroked-15-grey {
    background-color: $brand-primary;
  }
}
