.side-bar-container{
  flex-direction:column;
  display: flex;
  align-items:stretch;
  height: 560px;
  width: 27.5vw;
  flex: 1 auto;
  order: 1;
  overflow: scroll;
  margin: auto;
  ul {
    list-style: none;
    padding-left: 0px;
  }
  .event-count{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 10px;
  }
  .event-cell {
    @include cell;
    @include montserrat-regular;
    color: black;
  }
  #groups-list, #events-list {
    margin: 20px;
  }
  .ant-card-head{
    padding-left: 10px;
    padding-right: 10px;
  }
  .ant-card-head-title {
    white-space: initial;
    @include montserrat-bold-all-caps;
  }
}
