$brand-primary: #2e4c69;

$brand-blue: #7bc0e1;

$brand-red: #CA4948;

$main-dark-blue: #2D4C6B;

$main-light-blue: #6C9FC2;

$main-white: #ffffff;

$dark-green: #274A3D;

$dark-purple: #3E1A49;

$dark-orange: #DB8011;

/* Issue Colors */
$other: $main-dark-blue;

$general: $main-light-blue;

$dream-act: $brand-red;

$infrastructure: #172636;

$trump-tax-scam: #365061;

$electoral: #652524;

$town-hall: #4E937A;

$gun-violence: #7B3491;

$foreign-policy: #FF9F2C;

/* Search bar & filter by color */
$search-border: $main-dark-blue;

$filter-by-slider: $main-dark-blue;

/* Groups */

$group-dot: $main-light-blue;

$group-dot-hover: $brand-red;

$group-info-box: $main-dark-blue;

$group-header : $main-dark-blue;

$contact-icons: $main-dark-blue;

/* Events */

$event-rsvp: $main-white;
