$brand-primary: #2e4c69;

$filter-color-blue: #1cb7ec;

$filter-color-red: #e31e21;

$filter-color-green: #31bf1b;

$filter-color-purple: #a61cec;

$filter-color-orange: #ebaf17;

$filter-color-dark-blue: #1d79b1;

$filter-color-fuchsia: #fa3af9;

$filter-color-gray: #686868;

$brand-blue: #7bc0e1;

$brand-red: #CA4948;


/* Issue Colors */
$other: #2D4C6B;

$general: #6C9FC2;

$dream-act: #CA4948;

$infrastructure: #172636;

$trump-tax-scam: #365061;

$electoral: #652524;

$town-hall: #4E937A;

$gun-violence: #7B3491;

$foreign-policy: #FF9F2C;



$dark-green: #274A3D;

$dark-purple: #3E1A49;

$dark-orange: #DB8011;

/* Search bar & filter by color */
$search-border: #2D4C6B;

/* Groups */

$group-dot: #6C9FC2;

$group-dot-hover: #CA4948;

$group-info-box: #2D4C6B;

$group-header : #2D4C6B;

$contact-icons: #2D4C6B;

/* Events */

$event-rsvp: #ffffff;