$brand-primary: #2e4c69;

$filter-color-blue: #1cb7ec;

$filter-color-red: #e31e21;

$filter-color-green: #31bf1b;

$filter-color-purple: #a61cec;

$filter-color-orange: #ebaf17;

$filter-color-dark-blue: #161547;

$filter-color-fuchsia: #ebaf17;

$filter-color-gray: #686868;
