@mixin cell ($color) {
  border: 1px solid $color;
  margin-bottom: 15px;
  padding: 0;
  @include box-3d;
  .ant-card-head {
    background-color: $color;
    .ant-card-head-title{
      color: $main-white;
    }
    .rsvp-button {
      color: $color;
    }
  }
}
