// Third-party
@import "./vendor/mapbox-gl";

@import './mixins/all';

// Modules and Variables
@import "modules/colors";
@import "modules/utility";
// Partials
@import "./partials/base";
@import "./partials/reset";
@import "./partials/typography";
@import "./partials/buttons";

// Components
@import "./components/footer";
@import "./components/map";
@import "./components/main-dashboard";
@import "./components/popover";
@import "./components/event-list";
@import "./components/group-list";
@import "./components/event-cell";
@import "./components/group-cell";
@import "./components/side-bar";
@import "./components/search-bar";

.loading-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: auto;
}